*{
    margin: 0;
    font-family: Arial;
}
/* navbar menu */
.navbar{
    background-color: black;
    display: flex;
    height: 40px;
    align-items: center;
    position: fixed; 
    width: 100%;  
    justify-content: space-between;
}
/* LOGO */
.logo{
    color: white;
    display: flex;
    margin-left: 25px;
}
.sublogo{
    color: rgb(65, 185, 233);
}
li{
    list-style: none;
    display: flex;
    color: black;  
}
ul{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    margin: 15px;
    margin-right: 50px;
}
.navbar a:hover{
    color: rgb(235, 138, 81);
}
/* Sidebar design */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(41, 40, 40, 0.082);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}

/* IMAGE */
.background-image{
    background-image: url("backgroundimage.jpg");
    height: 550px;
    background-size: cover;
}
/* CONTENT PARAGRAPH */
.content{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 4rem;
    text-align: left;
    width: 55%;
    color: white;
}
/* Explore Button */
button{
    background-color: rgb(187, 223, 247);
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    border: 2px solid rgba(53, 41, 233, 0.521);
    margin-left: 120px;
    color: rgba(53, 41, 233, 0.521);
    font-family: cursive; font-weight: bolder;
}
/* Tag section */
.tags-section{
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
    height: 50px;
}
.box{
    justify-content: space-evenly;
    margin: 15px;
    height: 30px;
    width: 10%;
}
.box-content{
    color: rgb(80, 187, 230);
    box-shadow: 10px 5px 5px rgb(172, 201, 238);
}
.box-content i{
    color: black;
}

/* Selection Destination */
.panel{
    margin-left: 100px;
    margin-top: 20px;
    box-shadow: 10px 5px 5px rgb(172, 201, 238);
    height: 250px;
    width: 80%;
}
.panel h2{
    margin-top: 10px;
    margin-left: 80px;
    font-size: 2.5rem;
}
.place-location{
    margin-top: 15px;
    margin-left: 10px;
    

}
select{
    font-size: 1.2rem;
    padding: 2px 5px;
    margin: 5px;
    background-color: white;
    margin-left: 75px;
}
.time-duration h2{
    font-size:1.5rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.time-duration{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    margin-left: 20px;
}


